.top{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: white;
}

div{
    text-align: center;
}

button{
    height: 2.2em;
    width: 5.5em;  
    border: none; 
    color: white; 
}

button:hover{
    cursor:pointer;
}

.startBtn{
    background-color: green;
}

.pauseBtn{
    background-color: grey;
}

.stopBtn{
background-color: red;
}